{{"<!-- SOURCE: indexes/post.html //-->" | safeHTML}}
{{ partial "header.html" . }}
<div class="header">
  <h1>Deutsche Beiträge</h1>
  <p>Schau auch nach den <a href="/en/">englischen Beiträgen</a>.</p>
</div>
<div class="content">
  {{ range .Data.Pages.GroupByDate "2006" }}
  <h2>{{ .Key }}</h2>
  <ul>
  {{ range .Pages }}
    {{ .Render "li" }}
  {{ end }}
  </ul>
  {{ end }}
</div>
{{ partial "footer.html" . }}
