{{"<!-- SOURCE: indexes/post.html //-->" | safeHTML}}
{{ partial "header.html" . }}
<div class="header">
  <h1>Englisch Articles</h1>
  <p>Look also for <a href="/de/">german articles</a>.</p>
</div>
<div class="content">
  {{ range .Data.Pages.GroupByDate "2006" }}
  <h2>{{ .Key }}</h2>
  <ul>
  {{ range .Pages }}
    {{ .Render "li" }}
  {{ end }}
  </ul>
  {{ end }}
</div>
{{ partial "footer.html" . }}
