{{"<!-- SOURCE: taxonomy/tag.html //-->" | safeHTML}}
{{ partial "header.html" . }}
<div class="header">
  <h1>Articles with tag "{{ .Title }}"</h1>
</div>
<div class="content">
  {{ range .Data.Pages }}
    {{ .Render "summary"}}
  {{ end }}
</div>
{{ partial "footer.html" . }}
