{{"<!-- LOCAL: partials/sidemenu.html //-->" | safeHTML}}
<!-- Menu toggle -->
<a href="#menu" id="menuLink" class="menu-link">
  <!-- Hamburger icon -->
  <span></span>
</a>
<div id="menu">
  <div class="pure-menu">
    <ul class="pure-menu-list">
      <li class="pure-menu-item">
        <a class="pure-menu-link" href="/"><i class='fa fa-home fa-fw'></i>Home</a>
      </li>
      <li class="pure-menu-item">
        <a class="pure-menu-link" href="/en/"><i class='fa fa-list fa-fw'></i>Articles</a>
      </li>
      <li class="pure-menu-item">
        <a class="pure-menu-link" href="/de/"><i class='fa fa-list fa-fw'></i>Beiträge</a>
      </li>
      <li class="pure-menu-item">
        <a class="pure-menu-link" href="/topics/"><i class='fa fa-folder fa-fw'></i>Topics</a>
      </li>
      <li class="pure-menu-item">
        <a class="pure-menu-link" href="/tags/"><i class='fa fa-tags fa-fw'></i>Tags</a>
      </li>
      <li class="pure-menu-item">
        <a class="pure-menu-link" href="/impressum/"><i class='fa fa-phone fa-fw'></i>Impressum</a>
      </li>
    </ul>
  </div>
</div>
