{{"<!-- SOURCE: partials/footer.html //-->" | safeHTML}}
</div>
</div>
{{ with .Site.Params.highlightjs }}
<link rel="stylesheet" href="/css/highlight.min.css">
<script src="/js/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
{{ end }}
<script src="{{ .Site.BaseURL }}js/ui.js"></script>
</body>
</html>
