{{"<!-- SOURCE: partials/header.html //-->" | safeHTML}}
<!DOCTYPE html>
<html lang="{{ if in "/de/" .URLPath.URL}}de{{else}}en{{end}}">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{{ if .IsNode }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ else }}{{ with .Description }}{{ . }}{{ end }}{{ end }}">
  <title>{{ if .IsHome }}{{ .Title }}{{ else }}{{ .Title }} &middot; {{ .Site.Title }}{{ end }}</title>
  <!-- CSS -->
  {{ $purecss := "/css/" }}
  <link rel="stylesheet" href="{{ $purecss }}pure-min.css">
  {{ "<!--[if lte IE 8]>" | safeHTML }}
  <link rel="stylesheet" href="{{ $purecss }}grids-responsive-old-ie-min.css">
  {{ "<![endif]-->" | safeHTML }}
  {{ "<!--[if gt IE 8]><!-->" | safeHTML }}
  <link rel="stylesheet" href="{{ $purecss }}grids-responsive-min.css">
  {{ "<!--<![endif]-->" | safeHTML }}
  {{ "<!--[if lte IE 8]>" | safeHTML }}
  <link rel="stylesheet" href="/css/side-menu-old-ie.css">
  {{ "<![endif]-->" | safeHTML }}
  {{ "<!--[if gt IE 8]><!-->" | safeHTML }}
  <link rel="stylesheet" href="/css/side-menu.css">
  {{ "<!--<![endif]-->" | safeHTML }}
  <link rel="stylesheet" href="/css/my.css">
  <!-- Icons -->
  <link rel="stylesheet" href="/css/font-awesome.min.css">
  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" href="{{ .Site.BaseURL }}index.xml" />
  <link rel="shortcut icon" href="{{ .Site.BaseURL }}img/favicon.ico" type="image/x-icon" />
</head>
<body>
<div id="layout">
  {{ partial "sidemenu.html" . }}
  <div id="main">
