{{"<!-- SOURCE: partials/prev_next_post.html //-->" | safeHTML}}
{{ if or (.Prev) (.Next) }}
<div class="prev-next-post pure-g">
  <div class="pure-u-1 pure-u-md-1-2">
    {{ if .PrevInSection }}
    <nav class="prev">
      <a href="{{ .PrevInSection.Permalink }}"><i class="fa fa-arrow-circle-left fa-fw fa-lg"></i>{{ .PrevInSection.Title }}</a>
    </nav>
    {{ end }}
  </div>
  <div class="pure-u-1 pure-u-md-1-2">
    {{ if .NextInSection }}
    <nav class="next">
      <a href="{{ .NextInSection.Permalink }}">{{ .NextInSection.Title }}<i class="fa fa-arrow-circle-right fa-fw fa-lg"></i></a>
    </nav>
    {{ end }}
  </div>
</div>
{{ end }}
