{{"<!-- SOURCE: index.html //-->" | safeHTML}}
{{ partial "header.html" . }}
<div class="header">
  <h1>{{ .Title }}</h1>
  <h2>{{ .Site.Params.subtitle }}</h2>
</div>
<div class="content">
  <div class="pure-g">
    <div class="pure-u-1 pure-u-md-11-24">
      <!-- <h1>English pages</h1> -->
      <p>Last 4 english articles:</p>
      {{ range first 4 (where .Data.Pages "Type" "en") }}
      {{ .Render "summary"}}
      {{ end }}
      <p>See all <a href="/en/">englisch</a> articles.</p>
    </div>
    <div class="pure-u-md-2-24"></div>
    <div class="pure-u-1 pure-u-md-11-24">
      <!-- <h1>Deutsche Beiträge</h1> -->
      <p>Die letzten 4 deutschen Beiträge:</p>
      {{ range first 4 (where .Data.Pages "Type" "de") }}
      {{ .Render "summary"}}
      {{ end }}
      <p>Alle <a href="/de/">deutschen</a> Beiträge.</p>
    </div>
  </div>
</div>
{{ partial "footer.html" . }}
