{{"<!-- SOURCE: _default/summary.html //-->" | safeHTML}}
<article>
  <header>
    <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
  </header>
  <p>
  {{ if .Description }}{{ .Description }}{{ else }}{{ .Summary }}{{ end }}
  </p>
  {{ partial "post_meta.html" . }}
</article>
