{{"<!-- SOURCE: _default/terms.html //-->" | safeHTML}}
{{ partial "header.html" . }}
<div class="header">
  <h1>{{ .Title }}</h1>
</div>
<div class="content">
  <table class="terms">
  {{ $data := .Data }}
  {{ range $key, $value := .Data.Terms.Alphabetical }}
  <tr><td>
    <a href="{{ $value.Name | urlize }}">{{ $value.Name }}</a>
    ({{ $value.Count }})
  </td><td>
    <a href="{{ $value.Name | urlize }}/index.xml"><i class='fa fa-rss'></i> RSS</a>
  </td></tr>
  {{ end }}
  </table>
</div>
{{ partial "footer.html" . }}
